@import "variables";
@import "mediaquery";

$list-item-spacing: 8px;


ol {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

#home {
  margin: 0;
  background-color: $light-grey;

  @include medium-and-up {
    margin: 10px 75px;
  }
}

.news {
  counter-reset: news-item-counter;
  list-style: none;
  padding: $list-item-spacing 0 0;
}

.news__banner {
  padding: 5px;
  font-weight: bold;
  background-color: $orange;
}

.news__item {
  display: flex;
  justify-content: flex-start;

  &:not(:first-of-type) {
    margin-top: $list-item-spacing;
  }

  &:before {
    flex: 0 0 25px;
    margin-right: 5px;
    text-align: right;
    content: counter(news-item-counter) ". ";
    counter-increment: news-item-counter;
    color: $grey;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:visited {
      color: $grey;
    }
  }
}

.news__item__hostname {
  color: $grey;
  font-size: 0.75em;

  &:hover {
    text-decoration: underline;
  }
}
